/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; color:white;background-color:black;font-size:2em;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#page {margin: 16px;}
div,p,a {font-size:16px;}
a {color:#ce93d8}